In [ ]:
import pandas as pd

In [ ]:
score = [84, 21, 87, 100, 59, 46]

s = pd.Series(score)
print(s)

0     84
1     21
2     87
3    100
4     59
5     46
dtype: int64

In [ ]:
score = [84, 21, 87, 100, 59, 46]
names=['철수','영이','길동','미영','순이','철이']
s = pd.Series(score, index= names)
print(s)

철수     84
영이     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

In [ ]:
dic={'철수':84, '영이':21, '길동':87,'미영':100, '순이':59, '철이':46}
s = pd.Series(dic)
print(s)

철수     84
영이     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

In [ ]:
names1=['철수','영이','길동','미영','순이','철이']
score1 = [84, 21, 87, 100, 59, 46]
names2 =['길동','철수','영이','철이','순이','미영']
score2 = [99, 87, 87, 84, 77, 15]

s1 = pd.Series(score1, index= names1)
s2 = pd.Series(score2, index= names2)

print(s1)
print(s2)

철수     84
영이     21
길동     87
미영    100
순이     59
철이     46
dtype: int64
길동    99
철수    87
영이    87
철이    84
순이    77
미영    15
dtype: int64

In [ ]:
s1 + s2

길동    186
미영    115
순이    136
영이    108
철수    171
철이    130
dtype: int64

In [ ]:
s1[::2]

철수    84
길동    87
순이    59
dtype: int64

In [ ]:
s3 = s1
print(s3)

철수     84
영이     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

In [ ]:
x = s1 > 85
x

철수    False
영이    False
길동     True
미영     True
순이    False
철이    False
dtype: bool

In [ ]:
s1[x]
s2[x]

길동    99
미영    15
dtype: int64

In [ ]:
names1=['철수','영이','길동','미영','순이','철이']
score1 = [84, 21, 87, 100, 59, 46]
names2 =['길동','철수','영이','철이','순이','미영']
score2 = [99, 87, 87, 84, 77, 15]

s1 = pd.Series(score1, index= names1)
s2 = pd.Series(score2, index= names2)

d = pd.DataFrame()
d['국어']= s1
d['영어']= s2
d['합'] = d.국어 + d.영어
d

     국어  영어    합
철수   84  87  171
영이   21  87  108
길동   87  99  186
미영  100  15  115
순이   59  77  136
철이   46  84  130

In [ ]:
scores = [[84,87,78], [21,15,84], [87,84,76], [100,87,99],[59,99,59],[46,77,56]]
d1 = pd.DataFrame(scores)
d1

     0   1   2
0   84  87  78
1   21  15  84
2   87  84  76
3  100  87  99
4   59  99  59
5   46  77  56

In [ ]:
scores = [[84,87,78], [21,15,84], [87,84,76], [100,87,99],[59,99,59],[46,77,56]]
names=['철수','영이','길동','미영','순이','철이']
lectures=['국어','수학','영어']

d2 = pd.DataFrame(scores, index= names, columns= lectures)
d2

     국어  수학  영어
철수   84  87  78
영이   21  15  84
길동   87  84  76
미영  100  87  99
순이   59  99  59
철이   46  77  56

In [ ]:
ScoresWithLectures={'수학':[84,21,87,100,59,46], '국어':[87,15,84,87,99,77], '영어':[78,84,76,99,59,56]}
names=['철수','영이','길동','미영','순이','철이']
d3 = pd.DataFrame(ScoresWithLectures, index= names)
d3

     수학  국어  영어
철수   84  87  78
영이   21  15  84
길동   87  84  76
미영  100  87  99
순이   59  99  59
철이   46  77  56

In [ ]:
d1.index = ['학생1','학생2','학생3','학생4','학생5','학생6']
d1

       0   1   2
학생1   84  87  78
학생2   21  15  84
학생3   87  84  76
학생4  100  87  99
학생5   59  99  59
학생6   46  77  56

In [ ]:
d1.rename(index= {'학생1':'철수', '학생2': '영어'}, inplace=True)
d1

       0   1   2
철수    84  87  78
영어    21  15  84
학생3   87  84  76
학생4  100  87  99
학생5   59  99  59
학생6   46  77  56

In [ ]:
d1.columns = ['과목1','과목2','과목3']
d1

     과목1  과목2  과목3
철수    84   87   78
영어    21   15   84
학생3   87   84   76
학생4  100   87   99
학생5   59   99   59
학생6   46   77   56

In [ ]:
d1.columns = ['국어','영어','수학']
d1

      국어  영어  수학
철수    84  87  78
영어    21  15  84
학생3   87  84  76
학생4  100  87  99
학생5   59  99  59
학생6   46  77  56

In [ ]:
c_sorted = sorted(d1.columns)
d1[c_sorted]

      국어  수학  영어
철수    84  78  87
영어    21  84  15
학생3   87  76  84
학생4  100  99  87
학생5   59  59  99
학생6   46  56  77

In [ ]:
d1.rename(index = {'학생3':'길동', '학생4':'미영'}, inplace = True)
d1

      국어  수학  영어
철수    84  78  87
영어    21  84  15
길동    87  76  84
미영   100  99  87
학생5   59  59  99
학생6   46  56  77

In [ ]:
d1.loc['합계']=d1.sum(axis=0) #열기준
d1

      국어   수학   영어
철수    84   78   87
영어    21   84   15
길동    87   76   84
미영   100   99   87
학생5   59   59   99
학생6   46   56   77
합계   397  452  449

In [ ]:
d1['합계']= d1.sum(axis=1) #행 기준
d1

      국어   수학   영어    합계
철수    84   78   87   249
영어    21   84   15   120
길동    87   76   84   247
미영   100   99   87   286
학생5   59   59   99   217
학생6   46   56   77   179
합계   397  452  449  1298

In [ ]:
c_sum = d1.loc['철수'].sum()
d1.loc['철수'] = [80,90,80, c_sum]
d1

      국어   수학   영어    합계
철수    80   90   80   498
영어    21   84   15   120
길동    87   76   84   247
미영   100   99   87   286
학생5   59   59   99   217
학생6   46   56   77   179
합계   397  452  449  1298

In [ ]:
#행의 값 수정
#d1.iloc['철수'] or d1.iloc[0]

#열의 값 수정

In [ ]:
d1['국어'][1:3]

영어    21
길동    87
Name: 국어, dtype: int64

In [ ]:
d1.head()

      국어  수학  영어   합계
철수    80  90  80  498
영어    21  84  15  120
길동    87  76  84  247
미영   100  99  87  286
학생5   59  59  99  217

In [11]:
import pandas as pd

In [16]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [19]:
path = "/content/drive/MyDrive/"

In [20]:
data = pd.read_csv(path + "titanic_train.csv")

In [22]:
data.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]>